name: UpdateReadme

on:
  schedule:
    - cron: '0 8 * * *' # Exécutez l'action tous les jours à minuit (UTC)
  workflow_dispatch: # Ajoutez ce déclencheur pour permettre l'exécution manuelle

jobs:
  update-readme:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Update README.md
      run: |
        # Récupérer la date actuelle
        today=$(date +%s)

        # Récupérer le jour, le mois et l'année de la date actuelle
        current_day=$(date +%d)
        current_month=$(date +%m)
        current_year=$(date +%Y)

        # Récupérer le jour, le mois et l'année de la date d'anniversaire (remplacez cette date par votre date d'anniversaire au format mois-jour)
        birthdate="10-06" # Remplacez cette date par votre date d'anniversaire au format mois-jour
        birthdate_month=$(echo "$birthdate" | cut -d'-' -f1)
        birthdate_day=$(echo "$birthdate" | cut -d'-' -f2)

        # Calculer les jours jusqu'à l'anniversaire
        days_until_birthday=$(( ($(date -d "$current_year-$birthdate_month-$birthdate_day" +%s) - $today) / (60*60*24) ))

        # Remplacer la ligne du README.md avec la nouvelle valeur
        sed -i "s|Only .* days for my birthdate|Only $days_until_birthday days for my birthdate|" README.md

    - name: Commit and push changes
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      run: |
        git config --global user.name "Zerbaib"
        git config --global user.email "zerbaib@proton.me"
        git commit -am "Automated README update"
        git push
